% rebase('base.tmpl', title='Login')
<div>
    <form action="/login" method="post">
        <fieldset class="box">
            <label for="username">Username:</label>
            <input name="username" type="text" />
            <br />
            <label for="password">Password:</label>
            <input name="password" type="password" />
            <br />
            <input value="Sign In" type="submit" />
        </fieldset>
    </form>
</div>